/* NavBar */
#NavBar{
    background-color: rgb(169, 169, 169);
}

#logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}

#logo img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

/* Classe para Títulos */
#Titulos{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-color: rgb(181, 181, 181);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
}

#CentroTitulo1{
    display: flex;
    justify-content: center;
}

#Titulos1{
    width: 95%;
    text-align: center;
    background-color: rgb(181, 181, 181);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
}

/* Horários */
#TextoH{
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(223,223,223);
    background: linear-gradient(90deg, rgba(223,223,223,1) 5%, rgba(184,184,184,1) 100%);
}

#BoxTextoH{
    width: 250px;
    color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    margin: 5px;
    padding: 5px;
}


#ImgH{
    width: 30%;
}
#ImgH img{
    width: 100%;
    height: 300px;
}

/* Eventos */
#Eventos{
    margin: 10px;
    padding: 10px;
}

.caixa{
    width: 200px;
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
}

.caixa h3{
    padding: 5px;
}

.caixa p{
    padding: 5px;
}

/* QrCodeImar */
#CentroQR{
    display: flex;
    justify-content: center;
}

#QrCodeImar{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(169, 169, 169);
    margin: 10px;
}

#QrCodeImar img{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
}

/* pastores */
#Pastores{
    display: flex;
    flex-wrap: wrap;
}

.Pastor{
    width: 30%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

#PerfilPastor{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

#PerfilPastor img{
    width: 100%;
    height: 100px;
}


footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(110,110,110);
    background: linear-gradient(0deg, rgb(166, 165, 165) 0%, rgb(185, 185, 185) 100%);
}

footer h4{
    margin: 10px;
    padding: 10px;
}

.Redes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
}

#ImgRedesS{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}
#ImgRedesS img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

/* 
@media screen and (max-width:1050px){
    #formularioGrupo{
        flex-direction: column;
    }

    #formularioGrupo aside{
        width: 100%;
    }
} */