/* Logo */
#Logo{
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#LogoImar{
    width: 70px;
    height: auto;
}

#LogoImar img{
    width: 100%;
    height: auto;
}

/* NavBar */
/* #NavBar{
    background: rgb(0,21,138);
    background: linear-gradient(90deg, rgba(0,21,138,1) 0%, rgba(49,173,228,1) 20%, rgba(49,173,228,1) 47%, rgba(49,173,228,1) 80%, rgba(0,21,138,1) 100%);
} */

#NavBar .navbar-nav {
    display: flex;
    justify-content: center;
    width: 100%;
}

#NavBar .navbar-nav .nav-link {
    font-size: 1.1rem;
    font-weight: 500;
    margin: 0 15px;
    color: #333;
    transition: color 0.3s ease;
}

#NavBar .navbar-nav .nav-link:hover {
    color: #007bff; /* Cor ao passar o mouse 
} 





#logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}

#logo img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#LinksNav a{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

@media screen and (max-width:1050px){
    #LinksNav{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 10px;
    }
} 

#NavAmburguer{
    color: rgb(0, 144, 197);
}

.navbar-toggler {
    color: red; /* Altere para a cor desejada */
}

span{
    color: #cb0000;
}

/* Classe para Títulos */
h1, h2, h3, h4, h5, h6 {
    background: linear-gradient(90deg, #007bff, #00d4ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    letter-spacing: 1px;
    line-height: 1.2;
}


/* #Titulos{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    font-weight: bolder;
    color: white;
}

#CentroTitulo1{
    display: flex;
    justify-content: center;
}

#Titulos1{
    width: 95%;
    text-align: center;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

#Titulos1 h2{
    font-weight: 600;
} */

/* Horários */
#TextoH{
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(223,223,223);
    background: linear-gradient(90deg, rgba(223,223,223,1) 5%, rgba(184,184,184,1) 100%);
}

#BoxTextoH{
    width: 60%;
    color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    margin: 5px;
    padding: 15px;
}


#ImgH{
    width: 30%;
}
#ImgH img{
    width: 100%;
    height: 300px;
}

/* Eventos */
#Eventos{
    margin: 10px;
    padding: 10px;
}

#Titulos h2{
    font-weight: 600;
}

.caixa{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa h3{
    padding: 10px;
    margin: 10px;
    font-weight: 600;
}

.caixa p{
    padding: 5px;
    font-size: 19px;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
}

.importante{
    width: 300px;
    height: 400px;
    text-align: center;
    background-color: #cb0000;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.importante h3{
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.importante p{
    padding: 5px;
    font-size: 19px;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
    color: white;
}



/* Escala */
#Escalas{
    margin: 10px;
    padding: 10px;
}

/* #TituloCentro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Titulos3{
    width: 80%;
    height: auto;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: white;
}

#Titulos3 h2{
    font-weight: 600;
} */

#CaixaEscala{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

.BoxEscala{
    width: 45%;
    height: 205px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 5px 5px gray;
    transition: width 0.5s, height 0.5s, border-radius 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ElementosEscala{
    text-align: center;
}

 .ElementosEscala p{
    width: 100%;
    /* background: rgb(2,46,99);
    background: linear-gradient(90deg, rgba(2,46,99,1) 0%, rgba(0,90,197,1) 20%, rgba(0,90,197,1) 80%, rgba(2,46,99,1) 100%); */
    border-radius: 10px;
    font-size: 22px;
    font-weight: bold;
    padding: 1px;
    margin-bottom: 5px;
} 

#CentroCentroEscala{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#CentroText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 5px;
}

#CentroText h3{
    font-weight: 600;
}

/* QrCodeImar */
#CentroQR{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QrCodeImar{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(169, 169, 169);
    margin: 10px;
}

#QrCodeImar img{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
}

/* pastores */


#Pastores{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 100%;
}

.Pastor{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.Pastor p {
    margin: 10px;
    font-weight: 600;
    font-size: 25px;
    color: rgb(17, 20, 63);
}

#PerfilPastor{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

#PerfilPastor img{
    width: 100%;
    height: 150px;
    border-radius: 100%;
    box-shadow: 4px 4px 5px gray;
}

/* Localização */

#Localização{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Localização a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

/* footer */

footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(5, 0, 159);
    background: linear-gradient(339deg, rgba(5, 0, 159) 0%, rgba(0,134,240,1) 50%, rgba(5, 0, 159) 83%);
}

footer h4{
    margin: 10px;
    padding: 10px;
    color: white;
}

.Redes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
}

#ImgRedesS{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#ImgRedesS a{
    color: white;
}

#ImgRedesS img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

/* Animações */
#element1 {
    width: 300px;
    height: auto;
    
    transition: transform 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
#element1:hover {
    transform: scale(1.1);
}

/* Palavra do Dia */
#balao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: auto;
    margin: 0;
    width:80%;
    margin-top: 25px;
  }
  
  .balloon {
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 20px;
    color: black;
    transition: all 0.3s ease;
    font-size: 25px;
    box-shadow: 0 0 0 5px  rgb(173, 173, 173);
    text-align: center;
    margin: 15px;
  }
  
  .balloon:hover {
     padding: 60px 50px;
     border-radius: 100%;
     transition: 1000ms;
  }

  .text{
    padding: 20px;
  }

  #text2{
    text-align: center;
    color: rgb(158, 157, 157);
    text-shadow: 0 0 5px rgb(207, 207, 207);
  }