/* Logo */
#Logo{
    background-color: rgb(249, 249, 249);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

#LogoImar{
    width: 70px;
    height: auto;
}

#LogoImar img{
    width: 100%;
    height: auto;
}

/* NavBar */
#NavBar{
    background: rgb(0,21,138);
    background: linear-gradient(90deg, rgba(0,21,138,1) 0%, rgba(49,173,228,1) 20%, rgba(49,173,228,1) 47%, rgba(49,173,228,1) 80%, rgba(0,21,138,1) 100%);
}

#logo{
    width: 40px;
    height: 40px;
    border-radius: 20px;
    margin: 10px;
}

#logo img{
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

#LinksNav a{
    font-size: 20px;
    font-weight: 600;
    color: white;
}

/* Classe para Títulos */
#Titulos{
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    font-weight: bolder;
    color: white;
}

#CentroTitulo1{
    display: flex;
    justify-content: center;
}

#Titulos1{
    width: 95%;
    text-align: center;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    font-weight: bold;
    color: white;
}

#Titulos1 h2{
    font-weight: 600;
}

/* Horários */
#TextoH{
    width: 80%;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: rgb(223,223,223);
    background: linear-gradient(90deg, rgba(223,223,223,1) 5%, rgba(184,184,184,1) 100%);
}

#BoxTextoH{
    width: 250px;
    color: rgb(58, 58, 58);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: white;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    margin: 5px;
    padding: 5px;
}


#ImgH{
    width: 30%;
}
#ImgH img{
    width: 100%;
    height: 300px;
}

/* Eventos */
#Eventos{
    margin: 10px;
    padding: 10px;
}

#Titulos h2{
    font-weight: 600;
}

.caixa{
    width: 300px;
    text-align: center;
    background-color: #dfdfdf;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.caixa h3{
    padding: 10px;
    margin: 10px;
    font-weight: 600;
}

.caixa p{
    padding: 5px;
    font-size: 19px;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
}

.importante{
    width: 300px;
    text-align: center;
    background-color: #cb0000;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(167, 167, 167);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.importante h3{
    padding: 10px;
    margin: 10px;
    font-weight: 600;
    color: white;
}

.importante p{
    padding: 5px;
    font-size: 19px;
    font-weight: 600;
    margin:0;
    margin-bottom: 10px;
    color: white;
}



/* Escala */
#Escalas{
    margin: 10px;
    padding: 10px;
}

#TituloCentro{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#Titulos3{
    width: 80%;
    height: auto;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgb(2, 59, 99) 0%, rgb(0, 153, 229) 20%, rgba(0, 153, 229) 80%, rgba(2, 59, 99) 100%);
    box-shadow: 4px 4px 5px rgb(116, 116, 116);
    border-radius: 20px;
    margin: 10px;
    padding: 10px;
    color: white;
}

#Titulos3 h2{
    font-weight: 600;
}

#CaixaEscala{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 40px;
}

#BoxEscala{
    width: 45%;
    height: 205px;
    border-radius: 20px;
    background-color: rgb(230, 230, 230);
    margin: 10px;
    padding: 10px;
    box-shadow: 4px 5px 5px gray;
   
}

.ElementosEscala{
    text-align: center;
}

.ElementosEscala h1{
    width: 100%;
    background: rgb(2,46,99);
    background: linear-gradient(90deg, rgba(2,46,99,1) 0%, rgba(0,90,197,1) 20%, rgba(0,90,197,1) 80%, rgba(2,46,99,1) 100%);
    border-radius: 10px;
    color: white;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
    margin-bottom: 20px;
}

#CentroCentroEscala{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#CentroText{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-weight: bold;
    margin: 5px;
}

#CentroText h3{
    font-weight: 600;
}

/* QrCodeImar */
#CentroQR{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#QrCodeImar{
    width: 300px;
    height: 300px;
    border-radius: 20px;
    box-shadow: 4px 4px 5px rgb(169, 169, 169);
    margin: 10px;
}

#QrCodeImar img{
    width: 100%;
    height: 300px;
    border: none;
    border-radius: 20px;
}

/* pastores */


#Pastores{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    height: auto;
    width: 100%;
}

.Pastor{
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 10px;
    text-align: center;
    align-items: center;
    font-size: 18px;
}

.Pastor p {
    margin: 10px;
    font-weight: 600;
    font-size: 25px;
    color: rgb(17, 20, 63);
}

#PerfilPastor{
    width: 100%;
    height: auto;
    border-radius: 40px;
}

#PerfilPastor img{
    width: 100%;
    height: 150px;
    border-radius: 100%;
    box-shadow: 4px 4px 5px gray;
}


footer{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    background: rgb(251,180,0);
    background: linear-gradient(339deg, rgba(251,180,0,1) 0%, rgba(0,134,240,1) 50%, rgba(251,180,0,1) 83%);
}

footer h4{
    margin: 10px;
    padding: 10px;
}

.Redes{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 10px;
}

#ImgRedesS{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

#ImgRedesS a{
    color: white;
}

#ImgRedesS img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

/* Localização */

#Localização{
    width: 100%;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Localização a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 600;
}

/* 
@media screen and (max-width:1050px){
    #formularioGrupo{
        flex-direction: column;
    }

    #formularioGrupo aside{
        width: 100%;
    }
} */