main{
    width: 100%;
}

/* section horaris */
.caixa{
    width: 100%;
    display: flex;
    justify-content: center;
}

/* section QrCode */

#BoxQrCode{
    width: 100%;
    height: 200px;
    padding: 20px;
    display: flex;
    justify-content: center;
}

#BoxQrCode img{
    width: 50%;
    height: auto;
    border-radius: 20px;
    border: solid black 0.20px;
}
p{
    margin: 10px;
}